<%- include('partials/header',{title:title}); %>
<h1 class="text-4xl font-bold">
  Hello world!
</h1>
<div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-gray-800 dark:text-blue-400" role="alert">
  <span class="font-medium">Info alert!</span> Change a few things up and try submitting again.
</div>
<%- include('partials/footer'); %>